div.modal.fade.in id="loginModal" aria-labelledby="loginHeader" aria-describedby="loginDescription" role="dialog" style="display: none" tabindex="0"
  div.modal-dialog role="document"
    div.loginmodal-container.sso-loginmodal-container
      ==image_tag("nbgallery_logo.png", alt: "NBGallery")
      button.close data-dismiss="modal" aria-label="Close Dialog" &times;
      div.alert-container
      ==render partial: "devise/shared/jupyterhub_sso_gateway", locals: { title_id: "loginHeader", description_id: "loginDescription" }
